
<h1>Sign Up</h1>
<div class="container m-4 p-4 border col-sm-6">
<%= form_with model: @user, :class=>"form-group", local:true do |f|%>
<% if @user.errors.any? %>
<p>
    <%= @user.errors.full_messages.join(', ')%>
</p>
<% end %>
    <%= f.label :name  %> 
<div class="input-group mb-2">
    <%= f.text_field :name, :class=>'form-control'%> 
</div>
    <%= f.label :email  %> 
<div class="input-group mb-2 ">
    <%= f.email_field :email, :class=>'form-control'%> 
</div>
    <%= f.label :password %>    
<div class="input-group mb-2">
    
    <%= f.password_field :password ,:class=>'form-control'%>
</div>
    <%= f.label :password_confirmation %>
<div class="input-group mb-2">   
    <%= f.password_field :password_confirmation, :class=>'form-control'%>
</div>

<%= f.submit "Sign up", :class => 'btn btn-outline-primary mt-4'%>
<% end %>
</div>
